<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday Night Welcome</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        We will be hosting everyone who can join us for a Welcome Party. Details TBD!
                    </dd>
<!--                    <dt>When</dt>-->
<!--                    <dd>Friday, June 16 at 7:00 pm</dd>-->
<!--                    <dt>Where</dt>-->
<!--                    <dd>-->
<!--                        <address>-->
<!--                            Burt's!<br>-->
<!--                            <a href="https://g.page/fountainheadtap?share">1617 Rossville Ave, E Main St 1 Block off, Chattanooga, TN 37408</a><br>-->
<!--                            Phone: +1 423-427-6198-->
<!--                        </address>-->

<!--                    </dd>-->
<!--                    <dt>Attire</dt>-->
<!--                    <dd>Casual (Canadiana encouraged)</dd>-->
<!--                    <dt>Transportation</dt>-->
<!--                    <dd>Transportation is not provided. Please plan responsibly.</dd>-->
<!--                    <dt>Parking</dt>-->
<!--                    <dd>Overflow parking is available at the church across the street</dd>-->
<!--                    <dt>Other info</dt>-->
<!--                    <dd>-->
<!--                        We are doing our rehearsal dinner at the same venue.-->
<!--                        The brewery will have a patio open to the public at this time and guests should feel free-->
<!--                        to come early and enjoy food and drink before the official party starts-->
<!--                        (though we've been told it might get crowded).-->
<!--                        We’ll open the doors whenever we finish eating but by 9 at the latest.-->
<!--                    </dd>-->
<!--                </dl>-->
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage at the Church on Main</dd>
                    <dt>When</dt>
                    <dd>Saturday, June 17th 2023</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Ravine Vineyard<br>
                            <a href="https://goo.gl/maps/dSSnoZGtUyK2">1366 York Rd, St. Davids, ON L0S 1P0, Canada</a><br>
                            Phone: +1 289-868-9627
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Be warned: it is a vineyard, there is grass, and your stilettos may sink deep
                        into it.
                    </dd>
                    <dt>Transportation</dt>
                    <dd>There will be three bus pick up options for guests:
                        <ul>
                            <li><a href="https://goo.gl/maps/5gX1Hwb5syx">White Oaks</a>: <strong>3:30pm</strong>
                            <li><a href="https://goo.gl/maps/o8KTZQg51Mt">Hilton Garden Inn</a>: <strong>3:45pm</strong>
                            <li><a href="https://goo.gl/maps/9KcZQProDN12">Fort George</a> (Downtown Niagara-on-the-Lake): <strong>3:45pm</strong>
                        </ul>
                        Buses will be returning to the hotels and downtown Niagara-on-the-Lake throughout the night.

                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available on-site at Ravine</dd>
                    {% comment %}
                    <dt>Afterwards</dt>
                    <dd>
                        Guests wishing to continue celebrating with Cory and Rowena after the reception can
                        head to the <a href="https://goo.gl/maps/a9uGVVQwqBT2">Sandtrap Pub and Grill</a>.
                        Buses will also be dropping off there.
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
